/*team
=================*/

#team {
    background: #FAFAFA;
}
.single-member {
    background: #fff;
}

.item .single-member h3 {
    color: #eeee00!important;
}
.single-member h5 {
    color: #1F1F1F;
}
.line2{
    background: #eeee00;
}
.overlay-effect{
    background: rgba(209,66,51,0.95);
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev
,#team .owl-theme .owl-controls .owl-buttons .owl-next{
    background: #eeee00;
    color: #fff;
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev:hover
,#team .owl-theme .owl-controls .owl-buttons .owl-next:hover {
   background: #ccc;
   color: #222;
}


/* Team Section Area
=============================== */
.single-member {
    height: auto;
    font-weight: 700;
    margin-bottom: 30px;
    width: 270px;
    border-radius: 7px;
    padding-bottom: 25px;
    margin: 0 10px;
}

.item .single-member h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.single-member h5 {
    font-size: 18px;
    text-transform: capitalize;
}
.line2{
    width: 40px;
    height: 3px;
    color: #222;
    margin: 0px auto;
}

.overlay-hover:hover .overlay-effect{
    opacity:1;
   -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}
.overlay-hover {
    position: relative;
    overflow:hidden;
}
.overlay-effect{
    position: absolute;
    height: 240px;
    width: 100%;
    opacity:0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    z-index:10;
}
.overlay-hover img{
    width: 100%!important;
    height: 240px!important;
}
.overlay-effect ul.social{
    bottom:5%;
    position: absolute;
    width: 100%;
}
.overlay-effect p{
    color: #fff;
    padding: 20px;
}
.overlay-effect ul.social li{
    padding: 10px 0px;
}

.overlay-effect ul.social i{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.overlay-effect ul li a {
    text-decoration: none;
    color: #4E4E4E;
}

/* Carousel  TEAM Css
=========================== */
.team-items{
        width:100%;
        height:auto;
        position:relative;
        float: left;
    }

#owl-demo .item{
  overflow: hidden;
}

#owl-demo .owl-item{
  margin: 0 auto;
}

#owl-demo .item img{
  margin-bottom: 25px;
}
#team  .owl-theme .owl-controls .owl-buttons{
    padding: 0px;
}
.owl-carousel {
    display: block!important;
}

 #team .owl-theme .owl-controls .owl-buttons .owl-prev {
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 50%;
    padding-left: 8px!important;
    padding-top: 6px;
    position: absolute;
    left: -80px;
    top: 30%;
    opacity:1;
}
#team .owl-theme .owl-controls .owl-buttons .owl-next {
   width: 50px;
   height: 50px;
   font-size: 35px;
   border-radius: 50%;
   padding-left: 12px;
   padding-top: 6px;
   position: absolute;
   right:-80px;
    top: 30%;
    opacity:1;
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev
,#team .owl-theme .owl-controls .owl-buttons .owl-next{
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev:hover
,#team .owl-theme .owl-controls .owl-buttons .owl-next:hover {
}
.owl-theme .owl-controls .owl-buttons {
}

.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-theme .owl-controls .owl-buttons .owl-prev {
    float: left;
    margin: 0px 10px;
}


/* Back To Top Button
======================================*/

#back-top{
    position:fixed;
    right:30px;
    bottom:50px;
    z-index:9999;
}

#back-top a{
    opacity:0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


#back-top .btn-primary{
    background: #eeee00;
    border-color: #eeee00;
    padding: 0px;
    font-size: 18px;
    width: 36px;
    height: 36px;
}

#back-top a:hover{
    background: #eeee00;
    opacity: 1;
}


/*Animation
========================================================*/
.carousel .item.active .animated4 {
    -webkit-animation: flipInX 1s ease-in 500ms both;
    animation: flipInX 1s ease-in 500ms both;
}

.carousel .item.active .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated7 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8 {
    -webkit-animation: bounceInDown 1s ease-in 800ms both;
    animation: bounceInDown 1s ease-in 800ms both;
}
.owl-theme .owl-controls{
    margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 45px;
    height: 7px;
    border-radius:0px;
}
